annotated-doc
annotated-types
anyio
certifi
click
colorama
coverage
Faker
fastapi
-e git+ssh://git@github.com/hjstephan/gen-db.git@main#egg
h11
httpcore
httptools
httpx
idna
iniconfig
mando
numpy
packaging
pluggy
psycopg2-binary
pydantic
pydantic_core
Pygments
pytest
pytest-asyncio
pytest-cov
python-dotenv
python-multipart
PyYAML
radon
six
starlette
-e git+ssh://git@github.com/hjstephan/subgraph.git@main#egg
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
